/target
/qemu-test
/test-img
/hvisor.S
/hvisor-elf.txt
/images/*
/platform/*/*/image/kernel/*
/platform/*/*/image/virtdisk/*
/tools/hvisor
/tmp
*.mod.[co]
*.mod
*.[oa]
*.cmd
Module.symvers
modules.order
driver/main.ko
.gdb_history
.vscode-ctags
Image*
*.ext4
*.qcow2
*.dtb
.DS_Store
temp-fit.its
fitImage
sd.img
flash.img*
.vscode/settings.json
compile.sh
src/platform/__board.rs
.config
.vscode/extensions.json

# systemtest
rootfs1.zip*