/target
/qemu-test
/test-img
/hvisor.S
/hvisor-elf.txt
/images/aarch64/virtdisk/*
/images/aarch64/kernel/*
/images/aarch64/devicetree/*.dtb
/images/riscv64/virtdisk/*
/images/riscv64/kernel/*
/images/riscv64/devicetree/*.dtb
/images/x86_64/*
/tools/hvisor
/tmp
*.mod.[co]
*.mod
*.[oa]
*.cmd
Module.symvers
modules.order
driver/main.ko
.gdb_history
.vscode-ctags
Image*
*.ext4
*.qcow2
*.dtb
